@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";
@import "./scrollbar.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
